<div class="section no-pad-bot" id="index-banner">
    <div class="container" style="text-align: center">
        <h1 class="text_h center header cd-headline letters type">
            <span>In <b class="is-visible">solar</b> veritas</span>
        </h1>
        <span class="caption">Renewables that are ready to go.</span><br>
        <button md-raised-button md-large-button color="button" style="margin-top: 70px; width: 160px !important; height: 60px; font-size:1.4em;">Use it</button>
    </div>
</div>

<div style="text-align: center">
    <h4>Choose planet where you live</h4>

    <h4>Choose your location</h4>
    <sebm-google-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>

    <h4>Choose collector</h4>

    <h4>Choose Date</h4>

    <md2-datepicker style="margin: auto; width:500px;" [(ngModel)]="date"></md2-datepicker>

    <button md-raised-button md-large-button color="warn" style="margin-top: 70px; width: 160px !important; height: 60px; font-size:1.4em;">Calculate</button>
</div>

